.title{font-size: 65px;}
.centre{display: block; margin-left: auto; margin-right: auto; width: 37%;}
h2{color: black; text-align: center;}
h3{color:black; text-align: center; }
IMG{display: block; margin-left: auto; margin-right: auto}
p{display: position; margin-left: center; margin-right: center;}
ul{display: position; text-align: center; list-style-position: inside; }
body{background-color: whitesmoke;}

h1 img{width: 600px; height: 150px; text-align: center; border-style: none; boder-width: none; border-color: none;}

h2{color: black; text-align: center;}

h3{color: black; text-align: center;}

h4{color: black; text-align: center;}

ul{text-align: center; padding-left: 0px; }

img{width: 300px; padding-left: 10px; padding-top:10px; padding-bottom: 10px; padding-right: 10px; border-style: dotted; Border-width: 3px;   border-color: forestgreen; }